@import '../../styles/imports';

.panel {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px $lightMedGray;

    max-width: 360px;
    padding: 30px;
    margin: auto;
}

.header {
    margin-bottom: 45px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field {
    outline: none;
    border: none;
    border-bottom: 1px dotted $medGray;

    padding: 10px 20px;
    margin: 10px 15px;


    text-align: center;
}

.error {
    height: 10px;
    font-size: 14px;
    text-align: center;
    color: $error;
}